<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="<?=Singleton::getInstance('HTMLMetaManager')->getTitle()?>" />
    <? if (Singleton::getInstance('HTMLMetaManager')->getDescription()) { ?>
        <meta name="description" content="<?=Singleton::getInstance('HTMLMetaManager')->getDescription()?>" />
    <? } ?>
    <title><?=Singleton::getInstance('HTMLMetaManager')->getTitle()?></title>

    <!-- Bootstrap core CSS -->
    <link href="/i/main.min.css?<?=ASSETS_HASH?>" rel="stylesheet">

    <script src="/i/jquery.min.js?<?=ASSETS_HASH?>"></script>
    <script src="/i/bootstrap.bundle.min.js?<?=ASSETS_HASH?>"></script>
    
    <script src="/i/jquery-ui.min.js?<?=ASSETS_HASH?>"></script>

    <script src="/i/file-upload/jquery.iframe-transport.js?<?=ASSETS_HASH?>"></script>
    <script src="/i/file-upload/jquery.fileupload.js?<?=ASSETS_HASH?>"></script>
    
    <script src="/i/photoswipe.min.js?<?=ASSETS_HASH?>"></script>
    <script src="/i/photoswipe-ui-default.min.js?<?=ASSETS_HASH?>"></script>
    
    <script src="/i/bootstrap-select.min.js?<?=ASSETS_HASH?>"></script>
    <script src="/i/defaults-ru_RU.min.js?<?=ASSETS_HASH?>"></script>
    
    <script type="text/javascript" src="/i/global.js?<?=ASSETS_HASH?>"></script>
    
    <? foreach(Singleton::getInstance('HTMLMetaManager')->getStyleList() as $styleUrl) { ?>
        <link rel="stylesheet" href="<?=$styleUrl?>?<?=ASSETS_HASH?>" type="text/css" />
    <? } ?>
    
    <? foreach(Singleton::getInstance('HTMLMetaManager')->getJavaScriptList() as $scriptUrl) { ?>
        <? if (mb_stripos($scriptUrl, 'jquery-ajaxtransport-xdomainrequest') !== false) { ?>
            <!--[if lt IE 10]>
                <script src="<?=$scriptUrl?>"></script>
            <![endif]-->
        <? } else { ?>
            <script src="<?=$scriptUrl?>"></script>
        <? } ?>
    <? } ?> 
    <script src="/i/modernizr-webp.js?<?=ASSETS_HASH?>"></script>
</head>
<body class="d-flex flex-column">
    