<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<metaconfiguration>

    <include file="acl.xml" generate="true" />
    <include file="spooked.xml" generate="true" />
    <include file="security.xml" generate="true" />
    
    <classes>
        
        <class name="Meditation">
            <properties>
                <identifier />
                <property name="notify" type="Boolean" required="true" default="false" />
                <property name="expired" type="Timestamp" required="false" />
                <property name="lastId" type="BigInteger" required="false" />
            </properties>
            <pattern name="StraightMapping" />
        </class>
        
        <class name="User" extends="NamedObject">
            <implement interface="Created"/>
            <properties>
                <identifier />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="name" type="String" size="255" required="false" />
                <property name="email" type="String" size="255" required="false" />
                <property name="password" type="String" size="255" required="true" />
                <property name="phone" type="BigInteger" required="true" />
                <property name="active" type="Boolean" required="true" default="false" />
                <property name="ban" type="Boolean" required="true" default="false" />
                <property name="banExpire" type="Timestamp" required="false" />
                <property name="banComment" type="String" size="255" required="false" />
                <property name="lastLog" type="Timestamp" required="false" />
                <property name="lastVisit" type="Timestamp" required="false" />
                <property name="ip" type="BigInteger" required="false" />
                <property name="sid" type="String" size="64" required="false" />
                <property name="securityType" type="SecurityType" relation="OneToOne" required="true" fetch="lazy" />
                <property name="group" type="AclGroup" relation="OneToOne" required="false" fetch="lazy" />
                <property name="telegramId" type="BigInteger" required="false" />
                <property name="telegramBotEnabled" type="Boolean" required="true" default="false" />
                <property name="clones" type="User" relation="ManyToMany" />
                <property name="creditors" type="Creditor" relation="OneToMany" />
            </properties>
            <pattern name="StraightMapping" />
        </class>
        
        <class name="Confirm" type="final">
            <implement interface="Created"/>
            <properties>
                <identifier />
                <property name="type" type="ConfirmType" relation="OneToOne" required="true" />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="expiredTime" type="Timestamp" required="true" />
                <property name="user" type="User" relation="OneToOne" required="false" fetch="lazy" />
                <property name="phone" type="BigInteger" required="false" />
                <property name="code" type="String" size="255" required="true" />
                <property name="try" type="Integer" required="true" default="0" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" /> 
        </class>
        
        <class name="InvestorOffer" type="final">
            <implement interface="Created"/>
            <implement interface="SecurityObject"/>
            <properties>
                <identifier />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="type" type="SubjectType" relation="OneToOne" required="true" fetch="lazy" />
                <property name="user" type="User" relation="OneToOne" required="true" fetch="lazy" />
                <property name="active" type="Boolean" required="true" default="false" />
                <property name="deleted" type="Boolean" required="true" default="false" />
                <property name="minPeriod" type="Integer" required="false" />
                <property name="maxPeriod" type="Integer" required="false" />
                <property name="minSumm" type="BigInteger" required="false" />
                <property name="maxSumm" type="BigInteger" required="true" />
                <property name="percents" type="Float" required="true" />
            </properties>           
            <pattern name="StraightMapping" fetch="lazy" /> 
        </class>
        
        <class name="CreditRequest" extends="ImageOwner" type="final">
            <implement interface="Created"/>
            <implement interface="SecurityObject"/>
            <properties>
                <identifier />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="notifiedTime" type="Timestamp" required="false" />
                <property name="status" type="CreditRequestStatus" relation="OneToOne" required="true" fetch="lazy" />
                <property name="user" type="User" relation="OneToOne" required="true" fetch="lazy" />
                <property name="type" type="SubjectType" relation="OneToOne" required="true" fetch="lazy" />
                <property name="deleted" type="Boolean" required="true" default="false" />
                <property name="category" type="Category" relation="OneToOne" required="false" fetch="lazy" />
                <property name="name" type="String" size="255" required="false" />
                <property name="summ" type="BigInteger" required="true" />
                <property name="birthDate" type="Timestamp" required="false" />
                <property name="profit" type="BigInteger" required="false" />
                <property name="text" type="String" required="false" />
                <property name="passport" type="BigInteger" required="false" />
                <property name="ogrn" type="BigInteger" required="false" />
                <property name="images" type="CreditRequestImage" relation="OneToMany" />
                <property name="creditorRequests" type="CreditRequestCreditor" relation="OneToMany" />
            </properties>           
            <pattern name="StraightMapping" fetch="lazy" /> 
        </class>

        <class name="CreditRequestImage" extends="ImageBase">
            <implement interface="ImageUniqueFileName"/>
            <properties>
                <property name="owner" type="CreditRequest" required="false" relation="OneToOne" fetch="lazy" />
                <property name="fileName" type="String" size="128" required="true" />
            </properties>
            <pattern name="StraightMapping" />
        </class>

        <class name="CreditRequestCreditor" type="final">
            <implement interface="Created"/>
            <properties>
                <identifier />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="request" type="CreditRequest" required="true" relation="OneToOne" fetch="lazy" />
                <property name="creditor" type="Creditor" required="true" relation="OneToOne" fetch="lazy" />
                <property name="status" type="CreditRequestCreditorStatus" required="true" relation="OneToOne" fetch="lazy" />
                <property name="expired" type="Timestamp" required="false" />
                
                <property name="investSumm" type="BigInteger" required="false" />
                <property name="investPeriod" type="Integer" required="false" />
                <property name="investPercents" type="Integer" required="false" />
                <property name="investNotified" type="Timestamp" required="false" />
                
                <property name="offers" type="CreditRequestCreditorOffer" relation="OneToMany" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" />
        </class>

        <class name="CreditRequestCreditorOffer" type="final">
            <implement interface="Created"/>
            <implement interface="SecurityObject"/>
            <properties>
                <identifier />
                <property name="request" type="CreditRequestCreditor" required="true" relation="OneToOne" fetch="lazy" />
                <property name="status" type="CreditRequestCreditorOfferStatus" required="true" relation="OneToOne" fetch="lazy" />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="summ" type="Integer" required="true" />
                <property name="minPeriod" type="Integer" required="false" />
                <property name="maxPeriod" type="Integer" required="false" />
                <property name="percents" type="Float" required="true" />
                <property name="percentsOnly" type="Boolean" default="false" required="true" />
                <property name="address" type="String" required="false" />
                <property name="date" type="Date" required="false" />
                <property name="time" type="Time" required="false" />
                <property name="text" type="String" required="false" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" />
        </class>

        <class name="CreditRequestCreditorInvestorOffer" type="final">
            <implement interface="Created"/>
            <implement interface="SecurityObject"/>
            <properties>
                <identifier />
                <property name="request" type="CreditRequestCreditor" required="true" relation="OneToOne" fetch="lazy" />
                <property name="offer" type="InvestorOffer" required="true" relation="OneToOne" fetch="lazy" />
                <property name="status" type="CreditRequestCreditorInvestorOfferStatus" required="true" relation="OneToOne" fetch="lazy" />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="summ" type="Integer" required="true" />
                <property name="period" type="Integer" required="false" />
                <property name="percents" type="Float" required="true" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" />
        </class>
        
        <class name="Creditor" extends="NamedObject" type="final">
            <implement interface="Created"/>
            <implement interface="SecurityObject"/>
            <properties>
                <identifier />
                <property name="createdTime" type="Timestamp" required="true" />
                <property name="type" type="SubjectType" relation="OneToOne" required="true" fetch="lazy" />
                <property name="user" type="User" relation="OneToOne" required="true" fetch="lazy" />
                <property name="active" type="Boolean" required="true" default="false" />
                <property name="deleted" type="Boolean" required="true" default="false" />
                <property name="name" type="String" size="128" required="true" />
                <property name="categories" type="CreditorCategory" required="true" relation="OneToMany" />
            </properties>           
            <pattern name="StraightMapping" fetch="lazy" /> 
        </class>  

        <class name="CreditorCategory" type="final">
            <properties>
                <identifier />
                <property name="creditor" type="Creditor" required="true" relation="OneToOne" fetch="lazy" />
                <property name="category" type="Category" required="true" relation="OneToOne" fetch="lazy" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" />
        </class>
        
        <class name="Category" extends="NamedObject">
            <implement interface="Sortable"/>
            <properties>
                <identifier />
                <property name="name" type="String" size="128" required="true" />
                <property name="sort" type="Integer" required="true" />
                <property name="text" type="String" required="false" />
                <property name="pledge" type="Boolean" required="true" default="true" />
            </properties>
            <pattern name="StraightMapping" fetch="lazy" /> 
        </class>          
        
    </classes>
    
    <sources><source name="credit" /></sources>

</metaconfiguration>