<? $partViewer->view('parts/header'); ?>

<!-- Begin page content -->
<main role="main" class="container flex-shrink-0">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('main')?>">Админ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Группы прав</li>
        </ol>
    </nav>
    
    <div class="row flex-row mb-4">
        <div class="col-12 col-sm-9 col-md-10"><h1 class="">Список групп пользователей</h1></div>    
        <div class="col-12 col-sm-3 col-md-2 justify-content-center justify-content-sm-end text-center text-sm-right align-self-center">
            <? if (SecurityManager::isAllowedAction(AclAction::ADD_ACTION, AclContext::ACL_ID)) { ?><a href="<?=CommonUtils::makeUrl('aclGroupEditor', array('action' => CommandContainer::ACTION_ADD, 'return' => $curl))?>" class="btn btn-primary">добавить</a><? } ?>
        </div>
    </div>
    
    <? if ($list) { ?>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($list as $item) { ?>
            <tr>
                <th scope="row" class="align-middle"><?=$item->getId()?></th>
                <td class="align-middle"><?=htmlspecialchars($item->getName())?></td>
                <td class="align-middle">
                    <? if (SecurityManager::isAllowedAction(AclAction::EDIT_ACTION, AclContext::ACL_ID)) { ?><a href="<?=CommonUtils::makeUrl('aclGroupEditor', array('action' => CommandContainer::ACTION_UPDATE, 'id' => $item->getId(), 'return' => $curl))?>"><i class="far fa-edit"></i></a><? } ?>
                    <? if (SecurityManager::isAllowedAction(AclAction::DELETE_ACTION, AclContext::ACL_ID)) { ?><a href="<?=CommonUtils::makeUrl('aclGroupEditor', array('action' => CommandContainer::ACTION_DELETE, 'id' => $item->getId(), 'return' => $curl))?>"><i class="far fa-trash-alt"></i></a><? } ?>
                </td>
            </tr>
        <? } ?>
        </tbody>
        </table>
    <? } else { ?>
        <div class="card">
          <div class="card-body">
            <p class="my-4 text-center">еще ничего не добавлено&hellip;</p>
          </div>
        </div>    
    <? } ?>
    
</main>  

<? $partViewer->view('parts/footer'); ?>