<? $partViewer->view('parts/header'); ?>

<main role="main" class="container flex-shrink-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Админ</li>
        </ol>
    </nav>
    
    <p>Авторизован как <strong><?=htmlspecialchars(SecurityManager::getUser()->getName())?></strong> <a href="<?=CommonUtils::makeUrl('userRegister', array('action' => userRegister::ACTION_LOGOUT, 'return' => $curl))?>">выход</a></p>

    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::CREDIT_REQUEST_ID)) { ?>
        <h3>Запросы на кредит</h3>
        <p><a href="<?=CommonUtils::makeUrl('creditRequestList')?>">список запросов</a></p>
        <p>Всего на сайте <?=$creditRequestNum?> <?=RussianTextUtils::selectCaseForNumber($creditRequestNum, array('запрос', 'запроса', 'запросов'))?> на кредитование<? if (isset($creditRequestNew) && $creditRequestNew > 0) { ?>, из них <a class='text-danger font-weight-bold' href="<?=CommonUtils::makeUrl('creditRequestList', array('status' => array(CreditRequestStatus::TYPE_INCOME)))?>">ожидающих обработки: <?=$creditRequestNew?></a><? } ?>.</p>
    <? } ?>    
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::INVESTOR_OFFER_ID)) { ?>
        <h3>Предложения инвестирования</h3>
        <p><a href="<?=CommonUtils::makeUrl('investorOfferList')?>">предложения инвестирования</a></p>
        <p>Всего на сайте <?=$investorOfferNum?> <?=RussianTextUtils::selectCaseForNumber($investorOfferNum, array('предложение', 'предложения', 'предложений'))?> инвестирования<? if (isset($investorOfferModerate) && $investorOfferModerate > 0) { ?>, из них <a class='text-danger font-weight-bold' href="<?=CommonUtils::makeUrl('investorOfferList', array('active' => -1))?>">ожидающих проверки: <?=$investorOfferModerate?></a><? } ?>.</p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::CREDITOR_ID)) { ?>
        <h3>Компании кредиторов</h3>
        <p><a href="<?=CommonUtils::makeUrl('creditorList')?>">компании кредиторов</a></p>
        <p>Всего на сайте <?=$creditorNum?> <?=RussianTextUtils::selectCaseForNumber($creditorNum, array('кредитная организация', 'кредитные организации', 'кредитных организаций'))?><? if (isset($creditorModerate) && $creditorModerate > 0) { ?>, из них <a class='text-danger font-weight-bold' href="<?=CommonUtils::makeUrl('creditorList', array('active' => -1))?>">ожидающих проверки: <?=$creditorModerate?></a><? } ?>.</p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::CATEGORY_ID)) { ?>
        <h3>Категории объектов</h3>
        <p><a href="<?=CommonUtils::makeUrl('categoryList')?>">список категорий объектов</a></p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::ACL_ID) || SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::USER_ID)) { ?>
        <h3>Права и пользователи</h3>
        <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::USER_ID)) { ?>
            <p>
                <a href="<?=CommonUtils::makeUrl('userList')?>">пользователи</a>
            </p>
        <? } ?>
        <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::ACL_ID)) { ?>
            <p>
                <a href="<?=CommonUtils::makeUrl('aclActionList')?>">действия прав</a>
                <a href="<?=CommonUtils::makeUrl('aclContextList')?>">контексты прав</a>
                <a href="<?=CommonUtils::makeUrl('aclRightList')?>">список прав</a>
                <a href="<?=CommonUtils::makeUrl('aclGroupList')?>">группы пользователей</a>
            </p>
        <? } ?>
    <? } ?>    
</main>

<? $partViewer->view('parts/footer'); ?>