<!DOCTYPE html>
<html lang="ru" class="h-100" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    

    <meta name="title" content="<?=Singleton::getInstance('HTMLMetaManager')->getTitle()?>" />
    <? if (Singleton::getInstance('HTMLMetaManager')->getDescription()) { ?>
        <meta name="description" content="<?=Singleton::getInstance('HTMLMetaManager')->getDescription()?>" />
        <? /* <description><?=Singleton::getInstance('HTMLMetaManager')->getDescription()?></description> */ ?>
    <? } ?>
    <title><?=Singleton::getInstance('HTMLMetaManager')->getTitle()?></title>
    
    <? foreach(Singleton::getInstance('HTMLMetaManager')->getMetaSocialList() as $social) { ?>
	<meta <?=is_array($social['property']) ? $social['property'][0] : 'property' ?>="<?=is_array($social['property']) ? $social['property'][1] : $social['property'] ?>" content="<?=$social['content']?>" />
    <? } ?>

</head>
<body class="d-flex flex-column h-100">
    
<nav class="navbar navbar-light fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand logo" href="/">Фин<span class="d-none d-sm-inline">ансовый </span>Ресурс</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="<?=CommonUtils::makeUrl('controlPanel')?>">Личный Кабинет</a>
                </li>
            </ul>
            <div class="form-inline ml-auto mt-2 mt-md-0">
            <? if (SecurityManager::isAuth()) { ?>
                <strong><?=htmlspecialchars(SecurityManager::getUser()->getName())?></strong>
                <a class="btn btn-link my-2 my-md-0" href="<?=CommonUtils::makeUrl('userRegister', array('action' => userRegister::ACTION_LOGOUT))?>" role="button">выйти</a>
            <? } else { ?>
                <a class="btn button-login mr-4 my-2 my-md-0" href="<?=CommonUtils::makeUrl('userRegister', array('action' => userRegister::ACTION_LOGIN, 'return' => $curl))?>" role="button">войти на сайт</a>
                <a class="btn button-registration btn-outline-warning my-2 my-md-0" href="<?=CommonUtils::makeUrl('userRegister', array('action' => userRegister::ACTION_START, 'return' => $curl))?>" role="button">регистрация</a>
            <? } ?>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Показать / скрыть меню"><span class="navbar-toggler-icon"></span></button>    
    </div>
</nav>
    