<footer class="footer mt-auto py-3 bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="contact-footer pr-5">
                    Услуги по содействую в получении финансовых услуг предоставляет ООО «МИКРОКРЕДИТНАЯ КОМПАНИЯ ФИНАНСОВЫЙ ИНСТРУМЕНТ» <span class="text-nowrap">ИНН 7702460837</span> <span class="text-nowrap">ОГРН 1197746003113</span> / 105318, Москва г, Щербаковская ул, дом 3, этаж 11, комната 2а / <span class="text-nowrap">р/с 40701810600000000646</span> в <span class="text-nowrap">АО «РАЙФФАЙЗЕНБАНК» г. Москва</span> <span class="text-nowrap">БИК 044525700</span>
                </div>
            </div>
			
            <div class="col-12 col-lg-4 d-flex justify-content-start justify-content-lg-end">
                <div class="d-flex flex-column align-self-center">
                    <div class="mb-4"><a class="logo-footer pt-3 pb-3" href="/">Финансовый Ресурс</a></div>
		    <div class="text-lg-right mb-4 mb-lg-0">
			<a href="https://twitter.com/finresurs" target="_blank" class="bg-white text-primary mr-2" style="padding: 0.6rem; font-size: 1.3rem; border-radius: 50%;"><i class="fab fa-twitter text-center" style="min-width: 22px;"></i></a>
			<a href="https://vk.com/finresursonline" target="_blank" class="bg-white text-primary mr-2" style="padding: 0.6rem; font-size: 1.3rem; border-radius: 50%;"><i class="fab fa-vk text-center" style="min-width: 22px;"></i></a>
			<a href="https://t.me/FinResursBot" target="_blank" class="bg-white text-primary mr-2" style="padding: 0.6rem; font-size: 1.3rem; border-radius: 50%;"><i class="fab fa-telegram-plane text-center" style="min-width: 22px;"></i></a>
			<a href="https://zen.yandex.ru/id/5ef0bd83f9d235005f7a8595" target="_blank" class="bg-white text-primary" style="padding: 0.6rem; font-size: 1.3rem; border-radius: 50%;"><i class="fab fa-yandex text-center" style="min-width: 22px;"></i></a>
		    </div>
                </div>

		
            </div>			
        </div>
    </div>
</footer>
<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col flex-column flex-sm-row d-flex justify-content-start justify-content-sm-end">
                <a href="/static/about.html" class="mr-5">О проекте</a>
                <a href="/static/privacy-policy.html" class="mr-5">Политика обработки персональных данных</a>
                <a href="/static/contacts.html" class="mr-5">Контакты</a>
            </div>
        </div>
    </div>
</div>