<footer class="footer mt-auto py-3 border-top bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/static/about.html" class="mr-2">О проекте</a>
                <a href="/static/privacy-policy.html" class="mr-2">Политика обработки персональных данных</a>
                <a href="/static/contacts.html" class="mr-2">Контакты</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col small text-muted">
                Услуги по содействую в получении финансовых услуг предоставляет ИП Дерябин Сергей Валерьевич <span class="text-nowrap">ИНН 500905933938</span> <span class="text-nowrap">ОГРНИП 315500900003479</span> / 142000 Россия, Московская область, г. Домодедово, ул. Советская, 13 - 68 / <span class="text-nowrap">р/с 40802810402290000245</span> в <span class="text-nowrap">АО "АЛЬФА-БАНК"</span> <span class="text-nowrap">БИК 044525593</span> <span class="text-nowrap">к/с 30101810200000000593</span>
            </div>
        </div>
    </div>
</footer>