<? 
    $partViewer->view('parts/header');

    if ($process) {
        $form->
            addWrongLabel('name', 'имя указано неверно')->
            addMissingLabel('name', 'имя не указано')->
            addCustomLabel('name', AclRightAddCommand::ERROR_DUPLICATE, 'указанное имя уже используется')->
            addWrongLabel('context', 'контекст указан неверно')->
            addMissingLabel('context', 'контекст не указан')->
            addCustomLabel('context', AclRightAddCommand::ERROR_DUPLICATE, 'право с таким контекстом и действием уже существует')->
            addWrongLabel('aclAction', 'действие указано неверно')->
            addMissingLabel('aclAction', 'действие не указано');
    }
?>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    
    <div class="col-12 col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
    
    <h1 class="mb-5">Редактор прав</h1>

    <div id="alert-block" class="alert alert-danger" role="alert"<?=(!$process || !$form->getTextualErrors())?' style="display: none;"':''?>>
        <p class="mb-0" id="alert-block-content"><?=implode("<br />", $form->getTextualErrors())?></p>
    </div>
    
    <form action="" method="POST">
        <div class="form-group row align-items-center">
            <label for="name" class="col-12 col-sm-2 col-form-label col-form-label-lg">Название</label>
            <div class="col-12 col-sm-10">
                <input id="name" class="form-control form-control-lg" name="name" value="<?=$form->getDisplayValue('name')?>" type="text">
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="сontext" class="col-12 col-sm-2 col-form-label col-form-label-lg">Контекст права</label>
            <div class="col-12 col-sm-10">
                <select name="context" id="сontext" class="form-control form-control-lg">
                    <option <?=$form->exportValue('context')?'':' selected="selected"'?>></option>
                    <? foreach($contextList as $context) { ?>
                        <option value="<?=$context->getId()?>"<?=$form->exportValue('context') && $form->exportValue('context') == $context->getId()?' selected="selected"':''?>><?=htmlspecialchars($context->getName())?></option>
                    <? } ?>
                </select>   
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="aclAction" class="col-12 col-sm-2 col-form-label col-form-label-lg">Действие права</label>
            <div class="col-12 col-sm-10">
                <select name="aclAction" id="aclAction" class="form-control form-control-lg">
                    <option <?=$form->exportValue('aclAction')?'':' selected="selected"'?>></option>
                    <? foreach($actionList as $action) { ?>
                        <option value="<?=$action->getId()?>"<?=$form->exportValue('aclAction') && $form->exportValue('aclAction') == $action->getId()?' selected="selected"':''?>><?=htmlspecialchars($action->getName())?></option>
                    <? } ?>
                </select>   
            </div>
        </div>
        
        <div class="form-group row align-items-center">
            <div class="col-12 offset-sm-2 col-sm-10 d-flex justify-content-between">
                <button type="submit" class="btn btn-lg btn-success mr-2 mb-2">создать</button>
                <button type="submit" name="cancel" class="btn btn-link mb-2">отменить</button>
            </div>
        </div>
    </form>
    
    </div>
    
</main>  

<? $partViewer->view('parts/footer'); ?>