<? 
    $partViewer->view('parts/header');

    $form->
        addCustomLabel('id', AclRightDropCommand::ERROR_EXTERNAL, 'при удалении права оно так же будет удалено из групп:');
?>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    
    <div class="col-12 col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
    
    <h1 class="mb-5">Редактор прав</h1>
    
    <? if ($groupList) { ?>
        <div class="alert alert-warning" role="alert">
            <p>Данное право используется в группах пользователей:</p>
                <ul>
                    <? foreach($groupList as $group) { ?>
                        <li><?=htmlspecialchars($group->getName())?></li>
                    <? } ?>
                </ul>
        </div>
    <? } ?>    
    
    <? if ($form->getTextualErrors()) { ?>
        <div id="alert-block" class="alert alert-warning" role="alert">
            <p class="mb-0" id="alert-block-content"><?=implode("<br />", $form->getTextualErrors())?></p>
            <? if ($groupList) { ?>
                <ul>
                    <? foreach($groupList as $group) { ?>
                        <li><?=htmlspecialchars($group->getName())?></li>
                    <? } ?>
                </ul>
            <? } ?>
        </div>
    <? } ?>
    
    <form action="" method="POST">
        <input type="hidden" name="securityCode" value="<?=$process?$form->getValue('securityCode'):$securityCode?>" />
        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Название</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getName())?></label>
        </div>
        
        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Право</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getAclAction()->getName())?> <?=htmlspecialchars($form->getValue('id')->getContext()->getName())?></label>
        </div>
        
        <div class="form-group row">
            <div class="col-12 offset-sm-2 col-sm-10 d-flex justify-content-between">
                <button type="submit" name="ok" class="btn btn-lg btn-success mr-2 mb-2">удалить</button>
                <button type="submit" name="cancel" class="btn btn-link mb-2">отменить</button>
            </div>
        </div>
    </form>
    
    </div>
    
</main>  

<? $partViewer->view('parts/footer'); ?>