<? $partViewer->view('parts/header'); ?>

<main role="main" class="container flex-shrink-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('main')?>">Главная</a></li>
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('controlPanel')?>">Панель управления</a></li>
            <li class="breadcrumb-item active" aria-current="page">Панель администратора</li>
        </ol>
    </nav>
    <p>Авторизован как <strong><?=SecurityManager::getUser()->getEmail()?></strong> <a href="<?=CommonUtils::makeUrl('userRegister', array('action' => userRegister::ACTION_LOGOUT, 'return' => $curl))?>">выход</a></p>
        
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::INVESTOR_OFFER_ID)) { ?>
        <h3>Предложения инвестирования</h3>
        <p><a href="<?=CommonUtils::makeUrl('adminInvestorOfferList')?>">предложения инвестирования</a></p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::CREDITOR_ID)) { ?>
        <h3>Компании кредиторов</h3>
        <p><a href="<?=CommonUtils::makeUrl('adminCreditorList')?>">компании кредиторов</a></p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::CATEGORY_ID)) { ?>
        <h3>Категории объектов</h3>
        <p><a href="<?=CommonUtils::makeUrl('adminCategoryList')?>">список категорий объектов</a></p>
    <? } ?>
    
    <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::ACL_ID) || SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::USER_ID)) { ?>
        <h3>Права и пользователи</h3>
        <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::USER_ID)) { ?>
            <p>
                <a href="<?=CommonUtils::makeUrl('adminUserList')?>">пользователи</a>
            </p>
        <? } ?>
        <? if (SecurityManager::isAllowedAction(AclAction::VIEW_ACTION, AclContext::ACL_ID)) { ?>
            <p>
                <a href="<?=CommonUtils::makeUrl('aclActionList')?>">действия прав</a>
                <a href="<?=CommonUtils::makeUrl('aclContextList')?>">контексты прав</a>
                <a href="<?=CommonUtils::makeUrl('aclRightList')?>">список прав</a>
                <a href="<?=CommonUtils::makeUrl('aclGroupList')?>">группы пользователей</a>
            </p>
        <? } ?>
    <? } ?>
</main>

<? $partViewer->view('parts/header'); ?>