<? 
    $partViewer->view('parts/header');

    $form->
        addWrongLabel('phone', 'номер телефона указан неверно')->
        addWrongLabel('code', 'код подтверждения телефона указан неверно')->
        addMissingLabel('phone', 'номер телефона не указан')->
        addMissingLabel('code', 'код подтверждения телефона не указан')->
        addWrongLabel('response', 'защита от автоматических регистраций не пройдена')->
        addWrongLabel('accept', 'для подачи заявления необходимо согласиться с нашей <a href="'.PATH_WEB_BASE.'static/privacy-policy.html" target="_blank" class="alert-link">политикой обработки персональных данных</a>')->
        addCustomLabel('code', CreditRequestStartCommand::ERROR_EXPIRED, 'код подтверждения не найден, возможно истек его срок действия')->
        addCustomLabel('code', CreditRequestStartCommand::ERROR_AUTH_ENABLED, 'для полноценного использования сайта необходимо включить поддержку <code>Cookie</code> в настройках Вашего браузера');
?>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    
    <div class="col-12 col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
    
    <h1 class="mb-5">Заявка на кредит</h1>
    
    <div id="alert-block" class="alert alert-danger" role="alert"<?=(!$process || !$form->getTextualErrors())?' style="display: none;"':''?>>
        <p class="mb-0" id="alert-block-content"><?=implode("<br />", $form->getTextualErrors())?></p>
    </div>
    
    <form action="" method="POST" class="">
        <input type="hidden" name="securityCode" value="<?=$process?$form->getValue('securityCode'):$securityCode?>" />
        <input type="hidden" name="response" value="" id="google-response" />
        
        <div class="form-group row">
            <label for="phone" class="col-12 col-sm-2 col-form-label col-form-label-lg">Телефон</label>
            <div class="col-12 col-sm-10 form-row align-items-center">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">+7</span></div>
                    <input id="phone" class="form-control form-control-lg " name="phone" value="<?=$form->getSafeValue('phone')?>" type="phone">
                    <div class="input-group-append">
                        <button type="button" id="code-button" class="btn btn-info btn-sm">отправить код</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="code-block" class="form-group row"<?=$process?'':' style="display: none;"'?>>
            <label for="code" class="col-12 col-sm-2 col-form-label col-form-label-lg">Код SMS</label>
            <div class="col-12 col-sm-auto">
                <input id="code" class="form-control form-control-lg" size="4" maxlen="4" name="code" value="<?=$process && !$form->getError('code') ? $form->getDisplayValue('code') : ''?>" type="number">
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-12 col-sm-10 offset-sm-2">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="accept" name="accept"<?=$process && $form->getValue('accept')?' checked="checked"':''?> />
                    <label class="form-check-label" for="accept">принимаю </label> <a href="/static/privacy-policy.html" target="_blank">политику обработки персональных данных</a>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10 d-flex justify-content-between">
                <button type="submit" class="btn btn-lg btn-success mr-2 mb-2">продолжить</button>
                <button type="submit" name="cancel" class="btn btn-lg btn-link mb-2">отменить</button>
            </div>
        </div>
    </form>
    
    </div>
    
</main>
    
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('<?=GOOGLE_RECAPTCHA_OPEN?>', {action: 'registration'}).then(function(token) {
        document.getElementById('google-response').value = token;
    });
});
</script>

<? $partViewer->view('parts/footer'); ?>