<?php
    $partViewer->view('parts/header');

    if ($form->exists('name')) { 
        $form->
            addWrongLabel('name', 'название указано неверно')->
            addMissingLabel('name', 'название не указано');
    }
    if ($form->exists('category')) { 
        $form->addWrongLabel('category', 'категории указаны неверно');

        $checked = array();
        foreach($form->getValue('category') as $category) { $checked[$category->getId()] = $category->getId(); }
    }

    if ($form->exists('type')) { 
        $form->
            addWrongLabel('type', 'статус компании указан неверно')->
            addMissingLabel('type', 'статус компании не указан');
    }
?>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    
    <div class="col-12 col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
    
    <h1 class="mb-5">Редактор компаний</h1>
    
    <div id="alert-block" class="alert alert-danger" role="alert"<?=(!$process || !$form->getTextualErrors())?' style="display: none;"':''?>>
        <p class="mb-0" id="alert-block-content"><?=implode("<br />", $form->getTextualErrors())?></p>
    </div>
    
    <form action="" method="POST">
        <input type="hidden" name="securityCode" value="<?=$process?$form->getValue('securityCode'):$securityCode?>" />

        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Разместил</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold">
                <?=$form->getValue('id')->getUser()->getName() ? htmlspecialchars($form->getValue('id')->getUser()->getName()).' / ' : ""?><?=htmlspecialchars($form->getValue('id')->getUser()->getEmail())?>
            </label>
        </div>
        
        <div class="form-group row align-items-center">
            <label for="name" class="col-12 col-sm-2 col-form-label col-form-label-lg">Название</label>
            <? if ($form->exists('name')) { ?>
                <div class="col-12 col-sm-10">
                    <input id="name" class="form-control form-control-lg" name="name" value="<?=$form->getDisplayValue('name')?>" type="text">
                </div>
            <? } else { ?>
                <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getName())?></label>
            <? } ?>
        </div>
        
        <div class="form-group row align-items-center">
            <label for="type" class="col-12 col-sm-2 col-form-label col-form-label-lg">Статус</label>
            <? if ($form->exists('type')) { ?>
                <div class="col-12 col-sm-10">
                    <select name="type" id="type" class="form-control form-control-lg">
                        <option <?=$form->exportValue('type')?'':' selected="selected"'?>></option>
                        <? foreach(SubjectType::getList(SubjectType::create(SubjectType::getAnyId())) as $type) { ?>
                            <option value="<?=$type->getId()?>"<?=$form->exportValue('type') && $form->exportValue('type') == $type->getId()?' selected="selected"':''?>><?=htmlspecialchars($type->getName())?></option>
                        <? } ?>
                    </select>
                </div>
            <? } else { ?>
                <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getType()->getName())?></label>
            <? } ?>
        </div>

        <div class="form-group row align-items-top">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Категории</label>
            <div class="col-12 col-sm-10 col-form-label col-form-label-lg">
                <? if ($form->exists('category')) { ?>
                    <? foreach($categoryList as $category) { ?>
                        <div class="form-check mb-2">
                            <input type="checkbox" name="category[]" value="<?=$category->getId()?>" class="form-check-input" id="checkbox-<?=$category->getId()?>"<?=isset($checked[$category->getId()])?' checked="checked"':''?> />
                            <label class="form-check-label" for="checkbox-<?=$category->getId()?>"><?=htmlspecialchars($category->getName())?></label>
                        </div>
                    <? } ?>
                <? } else { ?>
                    <ul class='mb-0'>
                        <? foreach($form->getValue('id')->getCategories()->getList() as $itemCategory) { ?>
                            <li><?=htmlspecialchars($itemCategory->getCategory()->getName())?></li>
                        <? } ?>
                    </ul>
                <? } ?>
            </div>
        </div>
        
        <div class="form-group row align-items-center">
            <label for="comment" class="col-12 col-sm-2 col-form-label col-form-label-lg">Комментарий</label>
            <div class="col-12 col-sm-10">
                <input id="comment" class="form-control form-control-lg" name="comment" value="<?=$form->getDisplayValue('comment')?>" type="text">
                <small class="form-text text-muted">Можно указать комментарий, который автор предложения получит вместе с уведомление о публикации</small>
            </div>
        </div>
        
        <div class="form-group row align-items-center">
            <div class="col-12 offset-sm-2 col-sm-10 d-flex justify-content-between">
                <button type="submit" class="btn btn-lg btn-success mr-2 mb-2">опубликовать</button>
                <button type="submit" name="cancel" class="btn btn-link mb-2">отменить</button>
            </div>
        </div>
    </form>
    
    </div>
    
</main>  

<? $partViewer->view('parts/footer'); ?>