<? 
    $partViewer->view('parts/header');

    $form->
        addCustomLabel('id', CreditRequestDropCommand::ERROR_EXTERNAL, 'ошибка на сервере');
?>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    
    <div class="col-12 col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
    
    <h1 class="mb-5">Удаление заявки</h1>
    
    <? if ($form->getTextualErrors()) { ?>
    <div id="alert-block" class="alert alert-danger" role="alert">
        <p class="mb-0" id="alert-block-content"><?=implode("<br />", $form->getTextualErrors())?></p>
    </div>
    <? } ?>
    
    <form action="" method="POST" class="">
        <input type="hidden" name="securityCode" value="<?=$process?$form->getValue('securityCode'):$securityCode?>" />

        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Заёмщик</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getName())?></label>
        </div>        
        
        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Залог</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getCategory()->getName())?></label>
        </div>
        
        <div class="form-group row align-items-center">
            <label class="col-12 col-sm-2 col-form-label col-form-label-lg">Сумма</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=number_format($form->getValue('id')->getSumm(), 0, '.', '&nbsp;').'&#8381;'?></label>
        </div>
        
        <div class="form-group row align-items-center">
            <label for="type" class="col-12 col-sm-2 col-form-label col-form-label-lg">Статус</label>
            <label class="col-12 col-sm-10 col-form-label col-form-label-lg font-weight-bold"><?=htmlspecialchars($form->getValue('id')->getStatus()->getName())?></label>
        </div>
        
        <? if ($form->getValue('id')->getImages()->getCount()) { ?>
            <div class="form-group my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <? 
                    foreach($form->getValue('id')->getImages()->getList() as $image) { 
                        $sizes = getimagesize($image->getPath());
                ?>
                    <a href="<?=$image->getUrl()?>" itemprop="contentUrl" data-size="<?=$sizes[0]?>x<?=$sizes[1]?>"  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <img src="<?=$image->getUrl(true)?>" itemprop="thumbnail" class="img-thumbnail mb-2 mr-1" alt="" />
                    </a>
                <? } ?>
            </div>
        <? } ?>
        
        <div class="form-group row">
            <div class="col-12 offset-sm-2 col-sm-10 d-flex justify-content-between">
                <button type="submit" name="ok" class="btn btn-lg btn-success mr-2 mb-2">удалить</button>
                <button type="submit" name="cancel" class="btn btn-link mb-2">отменить</button>
            </div>
        </div>
    </form>
    
    </div>
    
</main>  

<? $partViewer->view('parts/footer'); ?>