<? 
    Singleton::getInstance('HTMLMetaManager')->
	appendJavaScript('//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ef2eeb505f7a8ca', false)->
	setDescription(htmlspecialchars($newsItem->getDescription()))->
	setTitle($newsItem->getTitle())->

	appendMetaSocial('og:url', CommonUtils::makeUrl('newsItem', array('sid' => $newsItem->getSid())))->
	appendMetaSocial('og:type', 'article')->
	appendMetaSocial('og:title', $newsItem->getTitle())->
	appendMetaSocial('og:description', htmlspecialchars($newsItem->getDescription()))->
	appendMetaSocial('og:image', PATH_WEB.'i/images/preview-main.jpg')->
	appendMetaSocial('og:image:type', 'image/jpeg')->
	appendMetaSocial('og:image:width', 400)->
	appendMetaSocial('og:image:height', 300);

    $partViewer->view('parts/header');     
?>

<main class="container flex-shrink-0">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('main')?>">Главная</a></li>
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('newsList')?>">Новости</a></li>
        </ol>
    </nav>
    
    <div class="container mt-2 mb-5">
        <div itemscope itemtype="http://schema.org/Article">
	    <h1 class="my-4"><span itemprop="headline"><?=htmlspecialchars($newsItem->getTitle())?></span></h1>
	    <meta itemprop="description" content="<?=htmlspecialchars($newsItem->getDescription())?>" />
	    <meta itemprop="datePublished" content="<?=$newsItem->getCreatedDate()->toString()?>" />
	    <meta itemprop="dateModified" content="<?=$newsItem->getCreatedDate()->toString()?>" />
	    <meta itemprop="author" content="Сысоева Диана" />
	    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
		    <meta itemprop="url" content="<?PATH_WEB?>i/images/logo.png" />
		    <meta itemprop="width" content="36" />
		    <meta itemprop="height" content="37" />
		</div>
		<meta itemprop="name" content="Финансовый Ресурс" />
	    </div>

	    <meta itemprop="image" content="<?PATH_WEB?>i/images/preview-main.jpg" />
	    <link itemprop="url" href="<?=CommonUtils::makeUrl('newsItem', array('sid' => $newsItem->getSid()))?>" />
	    <div itemprop="articleBody">
		<?=$newsItem->getText()?>
	    </div>
        </div>
    </div>
    
    
    <div class="addthis_inline_share_toolbox text-center my-5"></div>

    <? 
	if ($newsList) {
	    $newsCount = count($newsList);
    ?>
	<div class="container news-block mb-5">
	    <h3>Читайте также</h3>	
	    <div class="row">
		<? foreach($newsList as $i => $newsItem) { ?>
		    <div class="col-12<?=$newsCount > 1?' col-lg-'.($newsCount==3?'4':'6'): ''?>">
			<h4><a href="<?=CommonUtils::makeUrl('newsItem', array('sid' => $newsItem->getSid()))?>"><?=htmlspecialchars($newsItem->getTitle())?></a></h4>
			<p><?=htmlspecialchars($newsItem->getDescription())?></p>
			<hr class="d-lg-none my-4" />
		    </div>
		<? } ?>
	    </div>
	    <hr class="d-none d-lg-block my-4" />
	    <div class="row">
		<div class="col text-right">
		    <a href="<?=CommonUtils::makeUrl('newsList')?>">все новости</a>
		</div>
	    </div>	
	</div>
    <? } ?>

</main>
<? $partViewer->view('parts/pageFooter'); ?>

<? $partViewer->view('parts/footer'); ?>