<? $partViewer->view('parts/header'); ?>

<main role="main" class="container flex-shrink-0">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?=CommonUtils::makeUrl('main')?>">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">О портале</li>
        </ol>
    </nav>
    
    <div class="container mt-2 mb-5">
        
        <p>Наш портал является новой информационной площадкой, специализирующейся на подборе кредитных продуктов. Основным направлением деятельности компании является финансовый онлайн супермаркет - новый проект организованный командой профессионалов.</p>

        <h1>О нас</h1>
        
        <p>На портале каждый желающий может подать заявку на кредит под залог, и получить предложения от различных кредитных организаций (банков и микрофинансовых компаний). В качестве залога может выступать любое движимое и недвижимое имущество заёмщика, в том числе автомобиль, квартира, земельный участок и прочее.</p>
        <p>Наш инструмент бесплатного подбора поможет:</p>

        <ul>
            <li>выбрать лучшие варианты кредитов;</li>
            <li>сравнить кредитные ставки и сроки кредитования;</li>
            <li>оформить кредитные карты, сравнить тарифы за их выпуск и обслуживание.</li>
        </ul>

        <p>Мы поможем найти самые выгодные кредитные предложения с максимальной вероятностью одобрения.</p>

        <h1>Почему удобно работать с нами</h1>

        <p>Мы собрали самую полезную и актуальную для Вас информацию о финансовых организациях и сервисах онлайн-кредитования, которые выдают кредиты под залог на прозрачных условиях.</p>

        <ol>
            <li>вашу заявку получат сразу несколько кредитных организаций, а Вы в самый короткий срок выберете наиболее выгодное предложение</li>
            <li>как правило, рассмотрение заявки, одобрение и получение денег происходит в течение дня</li>
            <li>от Вас потребуется минимальный пакет документов с лояльными требованиями к заемщику</li>
            <li>вы сами сможете выбрать лучшее предложение, которое подходит именно Вам</li>
            <li>заявку могут оформить лица с плохой или отсутствующей кредитной историей</li>
            <li>для размещения заявки не требуется подтверждение места работы и ежемесячного дохода. Поэтому наши условия подойдут как для ИП, так и для самозанятых лиц</li>
            <li>среди разнообразия условий залога и процентных ставок Вы можете выбрать наилучшие для себя</li>
        </ol>
            
        <p>На нашем сайте Вы сможете оформить быстрые займы под залог с минимальным пакетом документов. Для этого:</li>

        <ul>
            <li>размещаете заявку на кредит, указав персональные данные, необходимую сумму и срок, предмет залога;</li>
            <li>заявка попадает к нашим проверенным партнёрам, мгновенно получая высокие шансы на одобрение;</li>
            <li>наши партнёры проверяют достоверность сведений, уточняют недостающие данные;</li>
            <li>в случае положительного решения, Вы посещаете офис кредитной организации для получения заёмных средств.</li>
        </ul>

        <h1>Наши преимущества</h1>

        <p>Для оказания квалифицированной помощи пользователям, мы собрали в одну сплочённую группу лучших специалистов с большим опытом работы в банковской сфере, секторе частного кредитования, юридической отрасли и области информационных технологий. Соединив практический опыт с деятельностью новейших технологий, мы разработали и продолжаем совершенствовать и развивать наш портал.</p>

        <p>Посетив наш сайт, Вы получите:</p>

        <ul>
            <li>исчерпывающую информацию о большинстве кредитных организаций с реальными отзывами заемщиков и оценками пользователей;</li>
            <li>сравнительные данные о ставках по кредитам, суммам и срокам кредитования;</li>
            <li>полезную информацию о том, как минимизировать финансовые риски.</li>
        </ul>

        <p>В комплексе это позволит в кратчайшее время выбрать максимально удобные и выгодные кредитные предложения и получить деньги.</p>
        
    </div>
    
</main>

<? $partViewer->view('parts/pageFooter'); ?>

<? $partViewer->view('parts/footer'); ?>