<?php $partViewer->view('parts/header'); ?>
<p style="font-size: 120%; margin-bottom: 1em;">Рады приветствовать Вас, <?=$user->getName()?>!</p>

<p style="font-size: 120%; margin-bottom: 1em;">По Вашей <a href="<?=CommonUtils::makeUrl('creditRequestEditor', array('id' => $offer->getRequest()->getRequest()->getId(), 'action' => CommandContainer::ACTION_VIEW, 'utm_source' => 'email', 'utm_medium' => 'moderation', 'utm_campaign' => 'credit-offer-user-meeting'), PATH_WEB_BASE)?>">заявке на кредит</a> от <?=$offer->getRequest()->getRequest()->getCreatedTime()->getDay()?> <?=RussianTextUtils::getMonthInGenitiveCase($offer->getRequest()->getRequest()->getCreatedTime()->getMonth())?></a> на сумму <?=number_format($offer->getRequest()->getRequest()->getSumm(), 0, '.', '&nbsp;').'&#8381;'?> назначен визит в кредитную организацию. Вы выбрали предложение на сумму <?=number_format($offer->getSumm(), 0, '.', '&nbsp;').'&#8381;'?>.</p>

<p style="font-size: 120%; margin-bottom: 1em;"><strong><?=$offer->getDate()->getDay()?> <?=RussianTextUtils::getMonthInGenitiveCase($offer->getDate()->getMonth())?> в <?=sprintf('%02d:%02d', $offer->getTime()->getHour(), $offer->getTime()->getMinute())?></strong> по адресу <strong><?=htmlspecialchars($offer->getAddress())?></strong></p>

<p style="font-size: 120%; margin-bottom: 1em;">Сопроводительная информация:<br /><em><?=nl2br(htmlspecialchars($offer->getText()))?></em></p>

<p style="font-size: 120%; margin-top: 0.5em;">Удачной работы и хорошего дня!</p>
<?php $partViewer->view('parts/footer'); ?>