@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";

@import "../../vendor/fortawesome/font-awesome/scss/fontawesome.scss";
@import "../../vendor/fortawesome/font-awesome/scss/brands.scss";
@import "../../vendor/fortawesome/font-awesome/scss/solid.scss";
@import "../../vendor/fortawesome/font-awesome/scss/regular.scss";
@import "../../vendor/fortawesome/font-awesome/scss/v4-shims.scss";
@import "../../vendor/dimsemenov/photoswipe/src/css/main.scss";
@import "../../vendor/dimsemenov/photoswipe/src/css/default-skin/default-skin.scss";

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance:textfield; }

.ajax-href { border-bottom: 1px dashed; cursor: pointer; }

.pagination-resp {
    @include media-breakpoint-down(sm) {
        @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
    }
}

html { 
    body { 
        
        main { padding-top: 4rem; }
        
        
        .ui-sortable-helper { background-color: white; }
        .ui-state-highlight { background-color: whitesmoke; }
        .ui-sortable .handle { cursor: move; }
        
        .toast-danger {
            border: 1px solid rgba(220,53,69,.1);
            box-shadow: 0 0.25rem 0.75rem rgba(220,53,69,.1);
            
            .toast-header, button, .close:hover {
                color: $white;
            }
            .toast-header {
                background-color: $red;
            }
        }
        
        .toast-success {
            border: 1px solid rgba(40,167,69,.1);
            box-shadow: 0 0.25rem 0.75rem rgba(40,167,69,.1);
            
            .toast-header, button, .close:hover {
                color: $white;
            }
            .toast-header {
                background-color: $success;
            }
        }    
    
        #related-images, .preview-row {

            .card-placeholder {
                background-size: cover;
                background-repeat: no-repeat;
                background-color: whitesmoke;
                width: 200px;
                height: 200px;
                border: 1px dashed lightgray;
                margin-bottom: 1rem;
            }     

            .card {
                
                background-size: cover;
                width: 200px;
                height: 200px;
                margin-bottom: 1rem;
                
                .card-header { background: rgba(0,0,0,.5); }

                li i { cursor: pointer; }
            }

            @include media-breakpoint-down(sm) { .card, .card-placeholder { width: 125px; height: 125px; } }
            @include media-breakpoint-down(md) { .card, .card-placeholder { width: 150px; height: 150px; } }
        }        
    }
    
}